{% extends "index.html" %}
{% block content %}
<div class="mt-3 pt-4">
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
      </form>
</div>
  
{% endblock content %}