{% extends "index.html" %}
{% block content %}
<div class="mt-3 pt-4">
    <div class="card mb-4">
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-book-open mr-1"></i>
                Liste des genres
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nom</th>
                          </tr>
                        </thead>
                        <tbody>
                      {% for genre in genre  %}    
                         <tr>  
                                <td scope="row"><a  href="{% url 'update_genre' genre.id %}">{{genre.name}}</a></td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{% url 'detail_genre' genre.id %}"> Voir Detail</a>
                                            <a class="dropdown-item" href="{% url 'update_genre' genre.id %}">Modifier</a>
                                            <a class="dropdown-item" href="{% url 'delete_genre' genre.id %}">Supprimer</a>
                                        </div>
                                    </div>
                                </td>
                          </tr>
                     {% endfor %}    
                            

                        </tbody>
                      </table>
                </div>
            </div>

        </div>    
    </div>
</div>
  
{% endblock content %}