{% extends "index.html" %}
{% block content %}
<div class="mt-3 pt-4">
    <div class="card mb-4">
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-book-open mr-1"></i>
                Detail du livre
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Auteur</th>
                                <th>Langages</th>
                                <th>Genres</th>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{book.titre}}</td>
                                <td>{{book.resume}}</td>
                                <td>{{book.auteur.first_name}} {{book.auteur.last_name}}</td>
                                <td>{{book.language.name}}</td>
                                <td>{{book.genre.name}}</td>
                      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>    
    </div>
</div>
  
{% endblock content %}