{% extends "index.html" %}
{% block content %}
<div class="mt-3 pt-4">
    <div class="card mb-4">
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-book-open mr-1"></i>
                Liste des livres
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Auteur</th>
                                <th>Langages</th>
                                <th>Genres</th>
                                <td>Actions</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books  %}
                            <tr>
                                <td><a  href="{% url 'update_book' book.id %}">{{book.titre}}</a></td>
                                <td>{{book.resume}}</td>
                                <td>{{book.auteur.first_name}} {{book.auteur.last_name}}</td>
                                <td>{{book.language.name}}</td>
                                <td>{{book.genre.name}}</td>
                                <td>
                                    <div class="dropdown">
                                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{% url 'detail_book' book.id %}"> Voir Detail</a>
                                        <a class="dropdown-item" href="{% url 'update_book' book.id %}">Modifier</a>
                                        <a class="dropdown-item" href="{% url 'delete_book' book.id %}">Supprimer</a>
                                    </div>
                                    </div>
                                </td>
                            </tr>                              
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>    
    </div>
</div>
  
{% endblock content %}