{% extends "auth-base.html" %}

{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Inscription</h3></div>
    <div class="card-body">
        <form method="POST">
           
                {{form}}
            <!-- on ajoute csrf_token pour empecher l'ecriture des donnees saisie dans l'URL -->
                {% csrf_token %}
                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">S'inscrire'</a>
                </div>

           
        </form>
    </div>
    <div class="card-footer text-center">
        <div class="small"><a href="/login/">Deja inscrit  ? Se connecter!</a></div>
    </div>
</div>
{% endblock content %}