{% extends "index.html" %}

{% block content %}
<div class="pt-3 mt-4">
    <h2 class="text-center">Info  <span class="text-primary">{{auteur.first_name }}</span> </h2>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card card-body">
                <div class="card-text"> Nom : {{auteur.last_name}} | naissance: {{auteur.date_of_birth}} | decede le : {{auteur.date_of_dead}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}