{% extends "index.html" %}
{% block content %}
<div class="mt-3 pt-4">
    <div class="card mb-4">
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-book-open mr-1"></i>
                Liste des auteurs dont les ouvrages sont disponible
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Prenom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">naissance</th>
                            <th scope="col">deces</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for auteur in auteurs  %}     
                         <tr>  
                                <td scope="row"><a  href="{% url 'update_auteur' auteur.id %}">{{auteur.first_name}}</a></td>
                                <td>{{auteur.last_name}}</td>
                                <td>{{auteur.date_of_birth}}</td>
                                <td>{{auteur.date_of_dead}}</td>
                                <td>
                                  <div class="dropdown">
                                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Actions
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="{% url 'detail_auteur' auteur.id %}"> Voir Detail</a>
                                      <a class="dropdown-item" href="{% url 'update_auteur' auteur.id %}">Modifier</a>
                                      <a class="dropdown-item" href="{% url 'delete_auteur' auteur.id %}">Supprimer</a>
                                  </div>
                                  </div>
                              </td>
                          </tr>
                      {% endfor %}    

                        </tbody>
                      </table>
                </div>
            </div>

        </div>    
    </div>
</div>
  
{% endblock content %}