{% extends "index.html" %}

{% block content %}
  <div class="pt-3 mt-4">
      <h2 class="text-center">Modification de l'auteur</h2>
      <div class="row">
          <div class="col-md-8 mx-auto">
              <form  method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{form.as_p}}
                  <button type="submit" class="btn btn-primary">
                      Modifier
                  </button>
              </form>
          </div>
      </div>
  </div>
{% endblock content %}