{% extends "index.html" %}

{% block content %}
  <div class="pt-3 mt-4">
      <h2 class="text-center">Suppression du language  Etes-vous sur?</h2>
      <div class="row">
          <div class="col-md-3 mx-auto">
              <div class="card card-body">
                  <form  method="post">
                      {% csrf_token %}
                      <a href="{% url 'language_list'%}" class="btn btn-primary"> Annuler </a><br>
                      <button type="submit" class="btn btn-danger">Oui</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
{% endblock content %}