{% extends "index.html" %}

{% block content %}
<div class="pt-3 mt-4">
    <h2 class="text-center">Info Language  <span class="text-success">{{language.name }}</span> </h2>

</div>
{% endblock content %}